body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
#tr {
  background-color: rgb(4, 68, 4) !important;
  color: white !important;
  font-weight: 600 !important;
  border-left: 2px solid white !important;
}
