.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

th,
td {
  border: 1px solid #131212;
  text-align: center;
  padding: 8px;
  font-size: 22px;
}

th {
  background-color: rgb(126, 117, 250);
  color: white;
}

